* {
  font-family: PingFangSC, PingFangSC-Medium;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20rpx;
}

.bottom-button-m {
  margin-bottom: 20rpx;
}
/*卡片基础样式*/

.div-content {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  word-break: break-all;
}
/*display*/

.display-column {
  display: flex;
  flex-direction: column;
}

.display-flex {
  display: flex;
  align-items: center;
}

.display-start-item {
  display: flex;
  align-items: flex-start;
}

.display-flex-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-between {
  display: flex;
  justify-content: space-between;
}

.display-wrap {
  flex-wrap: wrap;
}
/*进制界面滚动*/

.overflow-hidden {
  overflow: hidden;
}

.po_re {
  position: relative;
}

.po_ab {
  position: absolute;
}

.po_fi {
  position: fixed;
}
/* 吸顶样式 */

.position-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
/*文本换行  （注： -webkit-line-clamp强制文本更换几行）  ， 文本换行后再次超出元素长度省略号*/

.text-line-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 1.4;
  text-overflow: ellipsis;
}

.text-line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-page {
  width: 100%;
  background-color: #f5f5f7;
}

.icon-img {
  width: 15.8rpx;
  height: 8.8rpx;
}
/*width*/

.width-100 {
  width: 100%;
}

.width-95 {
  width: 95%;
}

.width-90 {
  width: 90%;
}

.width-85 {
  width: 85%;
}

.width-80 {
  width: 80%;
}

.width-75 {
  width: 75%;
}

.width-70 {
  width: 70%;
}

.width-66 {
  width: 66%;
}

.width-65 {
  width: 65%;
}

.width-60 {
  width: 60%;
}

.width-55 {
  width: 55%;
}

.width-50 {
  width: 50%;
}

.width-45 {
  width: 45%;
}

.width-40 {
  width: 40%;
}

.width-35 {
  width: 35%;
}

.width-30 {
  width: 30%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}

.width-15 {
  width: 15%;
}

.width-10 {
  width: 10%;
}

.width-5 {
  width: 5%;
}

.width-180-rpx {
  width: 180rpx;
}

.height-100 {
  height: 100%;
}

.height-180-rpx {
  height: 180rpx;
}
/********************************/
/*padding*/

.padding-5 {
  padding: 5upx;
}

.padding-10 {
  padding: 10upx;
}

.padding-20 {
  padding: 20upx;
}

.padding-25 {
  padding: 25upx;
}

.padding-30 {
  padding: 30upx;
}

.padding-32 {
  padding: 32upx;
}

.padding-35 {
  padding: 35upx;
}

.padding-40 {
  padding: 40upx;
}

.padding-45 {
  padding: 45upx;
}

.padding-50 {
  padding: 50upx;
}

.padding-0-20 {
  padding: 0 20upx;
}

.padding-0-25 {
  padding: 0 25upx;
}

.padding-0-30 {
  padding: 0 30upx;
}

.padding-0-32 {
  padding: 0 32upx;
}

.padding-0-35 {
  padding: 0 35upx;
}

.padding-0-40 {
  padding: 0 40upx;
}

.padding-0-45 {
  padding: 0 45upx;
}

.padding-0-50 {
  padding: 0 50upx;
}

.padding-20-0 {
  padding: 20upx 0;
}

.padding-25-0 {
  padding: 25upx 0;
}

.padding-28-0 {
  padding: 28upx 0;
}

.padding-30-0 {
  padding: 30upx 0;
}

.padding-32-0 {
  padding: 32upx 0;
}

.padding-35-0 {
  padding: 35upx 0;
}

.padding-40-0 {
  padding: 40upx 0;
}

.padding-45-0 {
  padding: 45upx 0;
}

.padding-50-0 {
  padding: 50upx 0;
}
/****************************/
/*margin*/

.margin-5 {
  margin: 5upx;
}

.margin-10 {
  margin: 10upx;
}

.margin-20 {
  margin: 20upx;
}

.margin-25 {
  margin: 25upx;
}

.margin-30 {
  margin: 30upx;
}

.margin-35 {
  margin: 35upx;
}

.margin-40 {
  margin: 40upx;
}

.margin-45 {
  margin: 45upx;
}

.margin-50 {
  margin: 50upx;
}

.margin-bottom-20 {
  margin-bottom: 20upx;
}
/********************************/
/*border-radius*/

.radius-10 {
  border-radius: 10upx;
}

.radius-12 {
  border-radius: 12upx;
}

.radius-14 {
  border-radius: 14upx;
}

.radius-15 {
  border-radius: 15upx;
}

.radius-16 {
  border-radius: 16upx;
}

.radius-18 {
  border-radius: 18upx;
}

.radius-20 {
  border-radius: 20upx;
}

.radius-22 {
  border-radius: 22upx;
}

.radius-30 {
  border-radius: 30upx;
}

.radius-33 {
  border-radius: 33upx;
}

.radius-40 {
  border-radius: 40upx;
}

.radius-44 {
  border-radius: 44upx;
}

.radius-45 {
  border-radius: 45upx;
}

.radius-46 {
  border-radius: 46upx;
}
/*border-top-left-radius*/

.radius-top-left-12 {
  border-top-left-radius: 12upx;
}

.radius-top-left-14 {
  border-top-left-radius: 14upx;
}

.radius-top-left--15 {
  border-top-left-radius: 15upx;
}

.radius-top-left-16 {
  border-top-left-radius: 16upx;
}

.radius-top-left-18 {
  border-top-left-radius: 18upx;
}

.radius-top-left-20 {
  border-top-left-radius: 20upx;
}

.radius-top-left-22 {
  border-top-left-radius: 22upx;
}
/*border-top-right-radius*/

.radius-top-right-12 {
  border-top-right-radius: 12upx;
}

.radius-top-right-14 {
  border-top-right-radius: 14upx;
}

.radius-top-right--15 {
  border-top-right-radius: 15upx;
}

.radius-top-right-16 {
  border-top-right-radius: 16upx;
}

.radius-top-right-18 {
  border-top-right-radius: 18upx;
}

.radius-top-right-20 {
  border-top-right-radius: 20upx;
}

.radius-top-right-22 {
  border-top-right-radius: 22upx;
}
/*border-bottom-left-radius*/

.radius-bottom-left-12 {
  border-bottom-left-radius: 12upx;
}

.radius-bottom-left-14 {
  border-bottom-left-radius: 14upx;
}

.radius-bottom-left--15 {
  border-bottom-left-radius: 15upx;
}

.radius-bottom-left-16 {
  border-bottom-left-radius: 16upx;
}

.radius-bottom-left-18 {
  border-bottom-left-radius: 18upx;
}

.radius-bottom-left-20 {
  border-bottom-left-radius: 20upx;
}

.radius-bottom-left-22 {
  border-bottom-left-radius: 22upx;
}
/*border-bottom-right-radius*/

.radius-bottom-right-12 {
  border-bottom-right-radius: 12upx;
}

.radius-bottom-right-14 {
  border-bottom-right-radius: 14upx;
}

.radius-bottom-right--15 {
  border-bottom-right-radius: 15upx;
}

.radius-bottom-right-16 {
  border-bottom-right-radius: 16upx;
}

.radius-bottom-right-18 {
  border-bottom-right-radius: 18upx;
}

.radius-bottom-right-20 {
  border-bottom-right-radius: 20upx;
}

.radius-bottom-right-22 {
  border-bottom-right-radius: 22upx;
}
/*******************************************/
/*border*/

.border {
  border: 2upx solid rgba(0, 0, 0, 0.04);
}

.border-bottom {
  border-bottom: 2upx solid rgba(0, 0, 0, 0.01);
}

.border-right {
  border-right: 2upx solid rgba(0, 0, 0, 0.04);
}

.border-dashed {
  border-style: dashed;
  border-width: 2px;
  border-color: #c6c6c6;
}
/************************************************/
/*background*/

.bg-FFFFFF {
  background: #ffffff;
}

.bg-000000 {
  background: #000000;
}

.bg-F5F5F7 {
  background: #f5f5f7;
}

.bg-151517 {
  background: #151517;
}

.bg-F4F5F6 {
  background: #f4f5f6;
}

.bg-9EA7B2 {
  background: #9ea7b2;
}

.bg-333333 {
  background: #333333;
}

.bg-00AE6F {
  background: #00ae6f;
}

.bg-005BAC {
  background: #005bac;
}

.bg-E31430 {
  background: #e31430;
}

.bg-CACACA {
  background: #cacaca;
}

.bg-FE5542 {
  background: #fe5542;
}
/************************************************/
/*color*/

.color-006AFE {
  color: #006afe;
}

.color-3FA7FF {
  color: #3fa7ff;
}

.color-FFFFFF {
  color: #ffffff;
}

.color-000000 {
  color: #000000;
}

.color-151517 {
  color: #151517;
}

.color-F4F5F6 {
  color: #f4f5f6;
}

.color-9EA7B2 {
  color: #9ea7b2;
}

.color-9D9DA3 {
  color: #9d9da3;
}

.color-999999 {
  color: #999999;
}

.color-333333 {
  color: #333333;
}

.color-666666 {
  color: #666666;
}

.color-B0B0B0 {
  color: #b0b0b0;
}

.color-00AE6F {
  color: #00ae6f;
}

.color-005BAC {
  color: #005bac;
}

.color-E31430 {
  color: #e31430;
}

.color-FE5542 {
  color: #fe5542;
}

.color-828186 {
  color: #828186;
}
/************************************************/
/*font-size*/

.font-size-18 {
  font-size: 22upx;
}

.font-size-19 {
  font-size: 23upx;
}

.font-size-20 {
  font-size: 24upx;
}

.font-size-22 {
  font-size: 26upx;
}

.font-size-24 {
  font-size: 28upx;
}

.font-size-26 {
  font-size: 30upx;
}

.font-size28 {
  font-size: 28upx;
}

.font-size-28 {
  font-size: 32upx;
}

.font-size-30 {
  font-size: 34upx;
}

.font-size-32 {
  font-size: 36upx;
}

.font-size-34 {
  font-size: 38upx;
}

.font-size-36 {
  font-size: 40upx;
}

.font-size-40 {
  font-size: 44upx;
}

.font-size-42 {
  font-size: 46upx;
}
/************************************************/
/*font-weight*/

.weight-bold {
  font-weight: bold;
}

.weight-bolder {
  font-weight: bolder;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-550 {
  font-weight: 550;
}

.weight-600 {
  font-weight: 600;
}
/************************************************/
/*text-align*/

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}
/************************************************/
/************************************************/

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.z-index-99999 {
  z-index: 99999;
}

.z-index-9999 {
  z-index: 9999;
}

.z-index-999 {
  z-index: 999;
}

.z-index-99 {
  z-index: 99;
}

.z-index-9 {
  z-index: 9;
}

.line-height {
  line-height: 1.5;
}

.letter-spacing {
  letter-spacing: 2rpx;
}
